# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.db
*.vcxproj
*.filters
*.sbr
*.log
*.tlog
*.enc
*.idb
*.bsc
*.ilk
*.vcf
*.smr
trying_on_data/CombinedVCFs.txt
